{% extends "base.html" %}
{% load custom_filters %}
{% block active3 %}class="active"{% endblock %}
{% block body %}
<div class="page-header">
<h1>Info <small>Was wir hier machen</small></h1>
</div>
<div class="row">
<div class="span12">
<dib class="row">
<div class="span3">
<h3>Videos</h3>
<p>Bitte anpassen (templates/static_pages/about.html)</p>
</div>
<div class="span3">
<h3>Lizenz</h3>
<p>Bitte anpassen (templates/static_pages/about.html)</p>
</div>
<div class="span3">
<h3>Open Source</h3>
<p>Die Technik hinter diesem Portal ist Open Source, basiert auf Python, Django (mit South) und Twitter Bootstrap und kann von jedem Menschen, f&uuml;r jeden Zweck genutzt werden. Informationen hier zu sind im <a href="https://github.com/TheRadialActive/LambdaCaste">Github Projekt</a> von LambdaCast zu finden. Fehler und Bugs können im <a href="http://jira.coding4coffee.org/browse/LAMBDA">Jira</a> gemeldet werden.</p>
</div>
</div>
</div>
</div>
{% endblock %}
