[submodule "djangotasks"]
	path = djangotasks
	url = https://github.com/Piratenfraktion-Berlin/djangotasks.git
[submodule "portalapp/pytranscode"]
	path = portalapp/pytranscode
	url = git@github.com:Piratenfraktion-Berlin/pytranscode.git
