{% extends "base.html" %}
{% load i18n %}
{% load custom_filters %}
{% block active-home %}class="active"{% endblock %}
{% block extra_meta %}
		<meta property="og:title" content="{{ collection.title }}"></meta>
		<meta property="og:type" content="article"></meta>
		<meta property="og:image" content="{{ settings.LOGO_URL }}"></meta>
		<meta property="og:url" content="{{ settings.DOMAIN }}/collection/{{ collection.slug }}/"></meta>
		{% if collection.description %}
		<meta property="og:description" content="{{ collection.description|truncatechars:150|remove_newlines }}"></meta>
		{% else %}
		<meta property="og:description" content="{{ settings.SITE_NAME }}"></meta>
		{% endif %}
		<meta property="og:locale" content="{{ settings.OG_LANGUAGE_CODE }}"></meta>
		<meta property="og:site_name" content="{{ settings.SITE_NAME }}"></meta>
{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
<div class="page-header">
	{% if perms.portal.change_collection and user.is_staff %}
		<a href="/admin/portal/collection/{{ collection.id }}/" class="pull-right" style="margin-top: 15px;"><button class="btn btn-warning" type="button"><i class="icon-pencil"></i> {% trans "Edit" %}</button></a>
	{% endif %}
	<h1>Playlist: {{ collection.title }}</h1>
</div>
<div class="row">
	<div class="col-md-8">
		{% include "portal/items/listitem.html" with mediaitem_list=mediaitems_list %}
	</div>
	<div class="col-md-4">
	</div>
</div>
{% endblock %}
