{% extends "base.html" %}
{% load i18n %}
{% load custom_filters %}
{% block active-home %}class="active"{% endblock %}
{% block extra_meta %}
		<meta property="og:title" content="{{ collection.title }}"></meta>
		<meta property="og:type" content="article"></meta>
		<meta property="og:image" content="{{ settings.LOGO_URL }}"></meta>
		<meta property="og:url" content="{{ settings.DOMAIN }}/collection/{{ collection.slug }}/"></meta>
		{% if collection.description %}
		<meta property="og:description" content="{{ collection.description|truncatechars:150|remove_newlines }}"></meta>
		{% else %}
		<meta property="og:description" content="{{ settings.SITE_NAME }}"></meta>
		{% endif %}
		<meta property="og:locale" content="{{ settings.OG_LANGUAGE_CODE }}"></meta>
		<meta property="og:site_name" content="{{ settings.SITE_NAME }}"></meta>
{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
<div class="page-header">
	{% if perms.portal.change_collection and user.is_staff %}
		<a href="/admin/portal/collection/{{ collection.id }}/" class="pull-right" style="margin-top: 15px;"><button class="btn btn-warning" type="button"><i class="icon-pencil"></i> {% trans "Edit" %}</button></a>
	{% endif %}
	<h1>Playlist: {{ collection.title }}</h1>
</div>
<div class="row">
	<div class="span8">
		{% include "items/listitem.html" with video_list=mediaitems_list %}
	</div>
	<div class="span4">
		<div class=well>
			<ul class="nav nav-list">
				{% if settings.USE_BITTORRENT %}
				<li>
					<i class="icon-file"></i> <u>{% trans "Original Material" %}</u>
				</li>
				<li>
					<a href="/feeds/collection/{{ collection.slug }}/torrent/"">Torrents-Feed</a>
				</li>
				<li class="divider"></li>
				{% endif %}
				{% if settings.ENABLE_VIDEO_FEEDS %}
				<li>
					<i class="icon-film"></i> <u>{% trans "Video-Podcast" %}</u>
				</li>
				<li>
					<a href="/feeds/collection/{{ collection.slug }}/mp4/">{% trans "MP4-Format" %}</a>
				</li>
				<li>
					<a href="/feeds/collection/{{ collection.slug }}/webm/">{% trans "WEBM-Format" %}</a>
				</li>
				<li class="divider"></li>
				{% endif %}
				{% if settings.ENABLE_AUDIO_FEEDS %}
				<li>
					<i class="icon-headphones"></i> <u>{% trans "Audio-Podcast" %}</u>
				</li>
				<li>
					<a href="/feeds/collection/{{ collection.slug }}/mp3/">{% trans "MP3-Format" %}</a>
				</li>
				<li>
					<a href="/feeds/collection/{{ collection.slug }}/ogg/">{% trans "OGG-Format" %}</a>
				</li>
				<li class="divider"></li>
				{% endif %}
				<li>
					<a href="mailto:{{ settings.CONTACT_EMAIL }}"><i class="icon-envelope"></i> {% trans "Contact" %}</a>
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
