{% extends "base.html" %}
{% load i18n %}
{% load custom_filters %}
{% block active-home %}class="active"{% endblock %}
{% block extra_meta %}
		<meta property="og:type" content="website"></meta>
		<meta property="og:image" content="{{ settings.LOGO_URL }}"></meta>
		<meta property="og:description" content="{{ settings.SITE_NAME }}"></meta>
		<meta property="og:locale" content="{{ settings.OG_LANGUAGE_CODE }}"></meta>
		<meta property="og:site_name" content="{{ settings.SITE_NAME }}"></meta>
{% endblock %}
{% block rss %}
	{% if settings.USE_BITTORRENT and rss_list.torrents_link %}
		<link rel="alternate" type="application/rss+xml" title="{{ video_source|default:"Latest Content" }} {% trans "Original Feed (Torrents)" %}" href="{{ rss_list.torrents_link }}" />
	{% endif %}
	{% if settings.ENABLE_VIDEO_FEEDS %}
		{% if rss_list.mp4_link %}
		<link rel="alternate" type="application/rss+xml" title="{{ video_source|default:"Latest Content" }} {% trans "Video Feed (MP4)" %}" href="{{ rss_list.mp4_link }}" />
		{% endif %}
		{% if rss_list.webm_link %}
		<link rel="alternate" type="application/rss+xml" title="{{ video_source|default:"Latest Content" }} {% trans "Video Feed (WEBM)" %}" href="{{ rss_list.webm_link }}" />
		{% endif %}
	{% endif %}
	{% if settings.ENABLE_AUDIO_FEEDS %}
		{% if rss_list.mp3_link %}
		<link rel="alternate" type="application/rss+xml" title="{{ video_source|default:"Latest Content" }} {% trans "Audio Feed (MP3)" %}" href="{{ rss_list.mp3_link }}" />
		{% endif %}
		{% if rss_list.ogg_link %}
		<link rel="alternate" type="application/rss+xml" title="{{ video_source|default:"Latest Content" }} {% trans "Audio Feed (OGG)" %}" href="{{ rss_list.ogg_link }}" />
		{% endif %}
		{% if rss_list.opus_link %}
		<link rel="alternate" type="application/rss+xml" title="{{ video_source|default:"Latest Content" }} {% trans "Audio Feed (OPUS)" %}" href="{{ rss_list.opus_link }}" />
		{% endif %}
	{% endif %}
{% endblock %}
{% block body %}
<div class="page-container-index">
<div class="row">
	<div class="col-md-9 col-xs-12 col-sm-12">
		{% include "portal/channelmenu.html" %}
		{% include "portal/items/listitem.html" with mediaitem_list=latest_mediaitems_list %}
		<ul class="pager col-md-12 col-xs-12 col-sm-12">
			{% if latest_mediaitems_list.has_previous %}
			<li class="previous">
				<a href="?page={{ latest_mediaitems_list.previous_page_number }}">{% trans "Previous" %}</a>
			</li>
			{% endif %}
			{% if latest_mediaitems_list.has_next %}
			<li class="next">
				<a href="?page={{ latest_mediaitems_list.next_page_number }}">{% trans "Next" %}</a>
			</li>
			{% endif %}
		</ul>
	</div>
	{% include "portal/inc/standard-sidebar.html" %}
</div>
</div>
{% endblock %}
