{% extends "base.html" %}
{% load i18n %}
{% load custom_filters %}
{% block active-home %}class="active"{% endblock %}
{% block extra_meta %}
		<meta property="og:type" content="website"></meta>
		<meta property="og:image" content="{{ settings.LOGO_URL }}"></meta>
		<meta property="og:description" content="{{ settings.SITE_NAME }}"></meta>
		<meta property="og:locale" content="{{ settings.OG_LANGUAGE_CODE }}"></meta>
		<meta property="og:site_name" content="{{ settings.SITE_NAME }}"></meta>
{% endblock %}
{% block body %}
<div class="page-container-index">
<div class="row">
	<div class="col-md-9 col-xs-12 col-sm-12">
		{% include "portal/channelmenu.html" %}
		{% include "portal/items/listitem.html" with mediaitem_list=latest_mediaitems_list %}
		<ul class="pager col-md-12 col-xs-12 col-sm-12">
			{% if latest_mediaitems_list.has_previous %}
			<li class="previous">
				<a href="?page={{ latest_mediaitems_list.previous_page_number }}">{% trans "Previous" %}</a>
			</li>
			{% endif %}
			{% if latest_mediaitems_list.has_next %}
			<li class="next">
				<a href="?page={{ latest_mediaitems_list.next_page_number }}">{% trans "Next" %}</a>
			</li>
			{% endif %}
		</ul>
	</div>
	{% include "portal/inc/standard-sidebar.html" %}
</div>
</div>
{% endblock %}
