{% extends "base.html" %}
{% load i18n %}
{% block active-status %}class="active"{% endblock %}
{% block title %} - {% trans "Status" %}{% endblock %}
{% load custom_filters %}
{% block body %}
<div class="page-header">
	<h1>{% trans "Status" %}</h1>
	<p>{% trans "This site shows all media that will be or is transcoded" %}</p>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table table-striped">
			<thead>
				<tr>
				<th>{% trans "Title" %}</th>
				<th>{% trans "Date" %}</th>
				<th>{% trans "Encoding Done" %}</th>
				{% if settings.USE_BITTORRENT %}
				<th>{% trans "Torrent Created" %}</th>
				{% endif %}
				<th>{%trans "Auto Publish" %}</th>
				<th>{% trans "Tasks" %}</th>
				</tr>
			</thead>
			<tbody>
				{% for mediaitem in mediaitems %}
					<tr>
						<th><a href="/item/{{ mediaitem.slug }}">{{ mediaitem.title }}</a></th>
						<td>{{ mediaitem.date }}</td>
						<td>{% if mediaitem.encodingDone %}<i class="glyphicon glyphicon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}</td>
						{% if settings.USE_BITTORRENT %}
						<td>{% if mediaitem.torrentDone %}<i class="glyphicon glyphicon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}</td>
						{% endif %}
						<td>{% if mediaitem.autoPublish %}<i class="glyphicon glyphicon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}</td>
						<td>
						<ul>
							{% for task in mediaitem.get_tasks %}
								<li>
									{% if task.method == "get_and_save_cover" %}
										{% trans "Save cover" %}:
									{% elif task.method == "create_bittorrent" %}
										{% trans "Create torrent" %}:
									{% else %}
										{% trans "Unknown task" %}:
									{% endif %}
									<a href="/admin/djangotasks/task/{{ task.id }}">{{ task.id }}</a>
									{% if task.status == 'successful' %}
										<i class="glyphicon glyphicon-ok"></i> ({% trans "Successful" %})
									{% elif task.status == 'unsuccessful' %}
										<i class="glyphicon glyphicon-remove"></i> ({% trans "Unsuccessful" %})
									{% elif task.status == 'scheduled' %}
										<i class="glyphicon glyphicon-time"></i> ({% trans "Scheduled" %})
									{% else %}
										<i class="glyphicon glyphicon-refresh"></i> ({% trans "In Progress" %})
									{% endif %}
								</li>
							{% endfor %}
							{% for mediafile in mediaitem.mediafile_set.all %}
								<li>
									{{ mediafile.file_format }}:
									{% for task in mediafile.get_tasks %}
										<a href="/admin/djangotasks/task/{{ task.id }}">{{ task.id }}</a>
										{% if task.status == 'successful' %}
											<i class="glyphicon glyphicon-ok"></i> ({% trans "Successful" %})
										{% elif task.status == 'unsuccessful' %}
											<i class="glyphicon glyphicon-remove"></i> ({% trans "Unsuccessful" %})
										{% elif task.status == 'scheduled' %}
											<i class="glyphicon glyphicon-time"></i> ({% trans "Scheduled" %})
										{% else %}
											<i class="glyphicon glyphicon-refresh"></i> ({% trans "In Progress" %})
										{% endif %}|
									{% empty %}
										{% trans "No task" %} |
									{% endfor %}
									<a href="/media/encoded/{{ mediaitem.slug }}/encoding_{{ mediafile.file_format }}_log.txt" class="show-log">{% trans "Show log" %}</a>
								</li>
							{% endfor %}
						</ul>
						</td>
					</tr>
				{% empty %}
					<tr>
						<td colspan="6">{% trans "There is no media to transcode" %}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="modal fade" id="logModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">{% trans "Log" %}</h4>
				</div>
				<div class="modal-body">
					<textarea id="logviewer" class="form-control" cols="67" rows="20" readonly="true">{% trans "Loading" %}...</textarea>
				</div>
				<div class="modal-footer">
					<a class="btn btn-success" id="reloadLog">{% trans "Reload" %}</a>
					<a class="btn btn-danger" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
<script>
$.ajaxSetup({
	// Disable caching of AJAX responses
	cache: false
});

var currentLog
function scrollLogDown() {
	$("#logviewer").animate({
		scrollTop:$("#logviewer")[0].scrollHeight - $("#logviewer").height()
	},200,function(){});
}
function logError() {
	$('#logviewer').val("{% trans "No log found!" %}");
}

$(".show-log").click(function(e) {
	e.preventDefault();
	$('#logModal').modal('show')
	$('#logviewer').val("{% trans "Loading" %}...");
	currentLog = $(this).attr('href');
	$.get(currentLog, function(data){
		$('#logviewer').val(data);
	}).fail(logError);
});
$("#reloadLog").click(function() {
	$.get(currentLog, function(data){
		$('#logviewer').val(data);
		scrollLogDown();
	}).fail(logError);
});
$('#logModal').on('shown', scrollLogDown);
</script>
{% endblock %}
