{% extends "base.html" %}
{% load i18n %}
{% block active-status %}class="active"{% endblock %}
{% block title %} - {% trans "Status" %}{% endblock %}
{% load custom_filters %}
{% block body %}
<div class="page-header">
	<h1>{% trans "Status" %}</h1>
	<p>{% trans "This site shows all media that will be or is transcoded" %}</p>
</div>
<div class="row">
	<div class="span12">
		<table class="table">
			<thead>
				<th>Title</th>
				<th>Date</th>
				<th>Encoding Done</th>
				<th>Torrent Created</th>
				<th>Auto Publish</th>
				<th>Tasks</th>
			</thead>
			<tbody>
				{% for mediaitem in processing_items %}
					<tr>
						<th><a href="/item/{{ mediaitem.slug }}">{{ mediaitem.title }}</a></th>
						<td>{{ mediaitem.date }}</td>
						<td>{% if mediaitem.encodingDone %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}</td>
						<td>{% if mediaitem.torrentDone %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}
						<td>{% if mediaitem.autoPublish %}<i class="icon-ok"></i>{% else %}<i class="icon-remove"></i>{% endif %}</td>
						<td>
						{% for task_list in running_tasks %}
							{% for task in task_list %}
								{% if task.object_id == mediaitem.pk|stringformat:"s" %}
									<li><a href="/admin/djangotasks/task/{{ task.id }}">{{ task.pid }}</a></li>
									<ul>
										<li>{{ task.status }}</li>
										{% if task.method == "encode_media" %}
											{% if mediaitem.kind == 0 or mediaitem.kind == 2 %}
											<li>
												<a id="logMP4_{{ mediaitem.pk }}">MP4 Log</a>,  													<a id="logWEBM_{{ mediaitem.pk }}">WEBM Log</a>,
											{% endif %}
											{% if mediaitem.kind == 1 or mediaitem.kind == 2 %}
												<a id="logMP3_{{ mediaitem.pk }}">MP3 Log</a>, 
												<a id="logOGG_{{ mediaitem.pk }}">OGG Log</a>,
                                                                                                <a id="logOPUS_{{ mediaitem.pk }}">OPUS Log</a>,

											</li>
											{% endif %}
										{% endif %}
									</ul>
								{% endif %}
							{% endfor %}
						{% empty %}
						{% trans "No tasks" %}
						{% endfor %}
						</td>
					</tr>
				{% empty %}
					<tr>
						<td colspan="6">{% trans "There are no media to transcode" %}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="modal hide fade" id="logModal" style="width:800px;margin-left:-400px;">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>{% trans "Log" %}</h3>
		</div>
		<div class="modal-body">
			<textarea id="logviewer" cols="500" rows="5" style="width:95%">{% trans "Loading" %}...</textarea>
		</div>
		<div class="modal-footer">
			<a class="btn" id="reloadLog">{% trans "Reload" %}</a>
			<a class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</a>
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
<script>
{% for mediaitem in processing_items %}
	{% for task_list in running_tasks %}
		{% for task in task_list %}
			{% if task.object_id == mediaitem.pk|stringformat:"s" %}
				{% if mediaitem.kind == 0 or mediaitem.kind == 2 %}
				$("#logMP4_{{mediaitem.pk}}").click(function() {
				$('#logModal').modal('show')
				$.get("/media/encoded/{{ mediaitem.slug }}/encoding_mp4_log.txt", function(data){
					$('#logviewer').val(data);
				});
				$("#reloadLog").click(function() {
					$.get("/media/encoded/{{ mediaitem.slug }}/encoding_mp4_log.txt", function(data){
						$('#logviewer').val(data);
						$("#logviewer").animate({
							scrollTop:$("#logviewer")[0].scrollHeight - $("#logviewer").height()
						},200,function(){});
					});
				});
				});
				$("#logWEBM_{{mediaitem.pk}}").click(function() {
					$('#logModal').modal('show');
					$.get("/media/encoded/{{ mediaitem.slug }}/encoding_webm_log.txt", function(data){
						$('#logviewer').val(data);
					});
					$("#reloadLog").click(function() {
						$.get("/media/encoded/{{ mediaitem.slug }}/encoding_webm_log.txt", function(data){
							$('#logviewer').val(data);
							$("#logviewer").animate({
								scrollTop:$("#logviewer")[0].scrollHeight - $("#logviewer").height()
							},200,function(){});
						});
					});
				});
				{% endif %}
				{% if mediaitem.kind == 1 or mediaitem.kind == 2 %}
					$("#logMP3_{{mediaitem.pk}}").click(function() {
						$('#logModal').modal('show')
						$.get("/media/encoded/{{ mediaitem.slug }}/encoding_mp3_log.txt", function(data){
							$('#logviewer').val(data);
						});
						$("#reloadLog").click(function() {
							$.get("/media/encoded/{{ mediaitem.slug }}/encoding_mp3_log.txt", function(data){
								$('#logviewer').val(data);
								$("#logviewer").animate({
									scrollTop:$("#logviewer")[0].scrollHeight - $("#logviewer").height()
								},200,function(){});
							});
						});
					});
					$("#logOGG_{{mediaitem.pk}}").click(function() {
						$('#logModal').modal('show')
						$.get("/media/encoded/{{ mediaitem.slug }}/encoding_ogg_log.txt", function(data){
							$('#logviewer').val(data);
						});
						$("#reloadLog").click(function() {
							$.get("/media/encoded/{{ mediaitem.slug }}/encoding_ogg_log.txt", function(data){
								$('#logviewer').val(data);
								$("#logviewer").animate({
									scrollTop:$("#logviewer")[0].scrollHeight - $("#logviewer").height()
								},200,function(){});
							});
						});
					});
                                        $("#logOPUS_{{mediaitem.pk}}").click(function() {
                                                $('#logModal').modal('show')
                                                $.get("/media/encoded/{{ mediaitem.slug }}/encoding_opus_log.txt", function(data){
                                                        $('#logviewer').val(data);
                                                });
                                                $("#reloadLog").click(function() {
                                                        $.get("/media/encoded/{{ mediaitem.slug }}/encoding_opus_log.txt", function(data){
                                                                $('#logviewer').val(data);
                                                                $("#logviewer").animate({
                                                                        scrollTop:$("#logviewer")[0].scrollHeight - $("#logviewer").height()
                                                                },200,function(){});
                                                        });
                                                });
                                        });
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endfor %}
{% endfor %}
$('#logModal').on('shown', function () {
	$("#logviewer").animate({
		scrollTop:$("#logviewer")[0].scrollHeight - $("#logviewer").height()
	},200,function(){});
});
</script>
{% endblock %}
