{% extends "base.html" %}
{% load i18n %}
{% block active-upload %}class="active"{% endblock %}
{% block title %} - {% trans "Upload" %}{% endblock %}
{% block body %}
<div class="page-header">
	<h1>{% trans "Upload" %}</h1>
</div>
<div class=row">
	<div class="col-md-12">
		<form id="mediaitemForm" enctype="multipart/form-data" class="form" action="/submit/" method="post">
			{% csrf_token %}
			<div class="row">
				<div class="col-md-6">
					<!-- title -->
					<div class="form-group">
						{% if submit_form.title.errors %}
						<div class="alert alert-danger">
							<strong>{% trans "Error!" %}</strong>{{ submit_form.title.errors }}</p>
						</div>
						{% endif %}
						<label class="control-label">
							{{ submit_form.title.label_tag }}{% if submit_form.title.field.required %} *{% endif %}
						</label>
						{{ submit_form.title }}
					</div>
				</div>
				<div class="col-md-6">
					<!-- date -->
					<div class="form-group">
						{% if submit_form.date.errors %}
						<div class="alert alert-danger">
							<strong>{% trans "Error!" %}</strong>{{ submit_form.date.errors }}</p>
						</div>
						{% endif %}
						<label class="control-label">
							{{ submit_form.date.label_tag }}{% if submit_form.date.field.required %} *{% endif %}
						</label>
						{{ submit_form.date }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<!-- description -->
					<div class="form-group">
						{% if submit_form.description.errors %}
						<div class="alert alert-danger">
							<strong>{% trans "Error!" %}</strong>{{ submit_form.description.errors }}</p>
						</div>
						{% endif %}
						<label class="control-label">
							{{ submit_form.description.label_tag }}{% if submit_form.description.field.required %} *{% endif %}
						</label>
						{{ submit_form.description }}
					</div>
				</div>
				<div class="col-md-6">
					<!-- channel -->
					<div class="form-group">
						{% if submit_form.channel.errors %}
						<div class="alert alert-danger">
							<strong>{% trans "Error!" %}</strong>{{ submit_form.channel.errors }}
						</div>
						{% endif %}
						<label class="control-label">
							{{ submit_form.channel.label_tag }}{% if submit_form.channel.field.required %} *{% endif %}
						</label>
						{{ submit_form.channel }}
					</div>
					<!-- license -->
					<div class="form-group">
						{% if submit_form.license.errors %}
						<div class="alert alert-danger">
							<strong>{% trans "Error!" %}</strong>{{ submit_form.license.errors }}
						</div>
						{% endif %}
						<label class="control-label">
							{{ submit_form.license.label_tag }}{% if submit_form.license.field.required %} *{% endif %}
						</label>
						{{ submit_form.license }}
					</div>
					<!-- link -->
					<div class="form-group">
						{% if submit_form.linkURL.errors %}
						<div class="alert alert-danger">
							<strong>{% trans "Error!" %}</strong>{{ submit_form.linkURL.errors }}
						</div>
						{% endif %}
						<label class="control-label">
							{{ submit_form.linkURL.label_tag }}{% if submit_form.linkURL.field.required %} *{% endif %}
						</label>
						{{ submit_form.linkURL }}
					</div>
					<!-- tags -->
					<div class="form-group">
						{% if submit_form.tags.errors %}
						<div class="alert alert-danger">
							<strong>{% trans "Error!" %}</strong>{{ submit_form.tags.errors }}
						</div>
						{% endif %}
						<label class="control-label">
							{{ submit_form.tags.label_tag }}{% if submit_form.tags.field.required %} *{% endif %}
						</label>
						{{ submit_form.tags }}
					</div>
				</div>
				<div class="col-md-6">
					<!-- fileFormats -->
					<div class="form-group">
						{% if submit_form.fileFormats.errors %}
						<div class="alert alert-danger">
							<strong>{% trans "Error!" %}</strong>{{ submit_form.fileFormats.errors }}
						</div>
						{% endif %}
						<label class="control-label">
							{{ submit_form.fileFormats.label_tag }}{% if submit_form.fileFormats.field.required %} *{% endif %}
						</label>
						{{ submit_form.fileFormats }}
					</div>
					<!-- originalFile -->
					<div class="form-group">
						{% if submit_form.originalFile.errors %}
						<div class="alert alert-danger">
							<strong>{% trans "Error!" %}</strong>{{ submit_form.originalFile.errors }}
						</div>
						{% endif %}
						<label class="control-label">
							{{ submit_form.originalFile.label_tag }}{% if submit_form.originalFile.field.required %} *{% endif %}
						</label>
						{{ submit_form.originalFile }}
					</div>
					<!-- autoPublish -->
					<div class="form-group">
						{% if submit_form.autoPublish.errors %}
						<div class="alert alert-danger">
							<strong>{% trans "Error!" %}</strong>{{ submit_form.autoPublish.errors }}
						</div>
						{% endif %}
						<label class="control-label">
							{{ submit_form.autoPublish.label_tag }}{% if submit_form.autoPublish.field.required %} *{% endif %}
						</label>
						{{ submit_form.autoPublish }}
					</div>
					<!-- thumbURL -->
					<div class="form-group">
						{% if submit_form.thumbURL.errors %}
						<div class="alert alert-danger">
							<strong>{% trans "Error!" %}</strong>{{ submit_form.thumbURL.errors }}
						</div>
						{% endif %}
						<label class="control-label">
							{{ submit_form.thumbURL.label_tag }}{% if submit_form.thumbURL.field.required %} *{% endif %}
						</label>
						{{ submit_form.thumbURL }}
					</div>
				</div>
			</div><!-- row -->

			<div class="alert alert-success" id="upload-success"><strong>{% trans "Successful" %}!</strong> {% trans "Your media will be transcoded and should be available soon. Please, check the 'Status' page." %} <a href="/status">{% trans "Status" %}</a></div>

			<div id="form-error" class="alert alert-danger">
				<strong>{% trans "Error!" %}</strong> {% trans "We found an error caused by form values." %}
			</div>
			<div id="upload-error" class="alert alert-danger">
				<strong>{% trans "Error!" %}</strong> {% trans "An error accured. Please, try again or contact the administrator." %}
			</div>

			<div class="progress" id="progress-indicator">
				<div class="progress-bar progress-bar progress-bar-success progress-bar-striped" id="bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
					<div class="percent">0%</div >
				</div>
			</div>

			<div class="form-actions">
				<input type="submit" class="btn btn-primary" value={% trans "Upload" %} />
			</div>
		</form>
	</div>
</div>
{% endblock %}
{% block javascript %}
	<script type="text/javascript" src="{{ STATIC_URL }}jquery.form.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}jquery.validate.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}date.format.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}submit.js"></script>
{% endblock %}
