{% extends "base.html" %}
{% load i18n %}
{% load custom_filters %}
{% block title %} - {{ current_page.title }}{% endblock %}
{% block og_title %}{{ channel.title }}{% endblock %}
{% block og_type %}article{% endblock %}
{% block og_image %}{{ settings.LOGO_URL }}{% endblock %}
{% block og_url %}{{ settings.DOMAIN }}/p/{{ page.slug }}/{% endblock %}
{% block extra_og %}
{% if page.description %}
        <meta content="{{ page.description|truncatechars:150 }}" property="og:description"></meta>
{% endif %}
{% endblock %}

{% block body %}
<div class="page-header">
	{% if perms.pages.change_page and user.is_staff %}
		<a href="/admin/pages/page/{{ current_page.id }}/" class="pull-right" style="margin-top: 15px;"><button class="btn btn-warning" type="button"><i class="icon-pencil"></i> {% trans "Edit" %}</button></a>
	{% endif %}
	<h1>{{ current_page.title }} <small>{{ current_page.description }}</small></h1>
</div>
{{ current_page.body|safe|escape }}

{% endblock %}
