{% load i18n %}

{% if settings.USE_BITTORRENT %}
<li>
	<i class="icon-file"></i> <u>{% trans "Original Material" %}</u>
</li>
<li>
	<a href="/feeds/latest/torrent/">Torrents-Feed</a>
</li>
<li class="divider"></li>
{% endif %}
{% if settings.ENABLE_VIDEO_FEEDS %}
<li>
	<i class="icon-film"></i> <u>{% trans "Video-Podcast" %}</u>
</li>
<li>
	<a href="/feeds/latest/mp4/">{% trans "MP4-Format" %}</a>
</li>
<li>
	<a href="/feeds/latest/webm/">{% trans "WEBM-Format" %}</a>
</li>
<li class="divider"></li>
{% endif %}
{% if settings.ENABLE_AUDIO_FEEDS %}
<li>
	<i class="icon-headphones"></i> <u>{% trans "Audio-Podcast" %}</u>
</li>
<li>
	<a href="/feeds/latest/mp3/">{% trans "MP3-Format" %}</a>
</li>
<li>
	<a href="/feeds/latest/ogg/">{% trans "OGG-Format" %}</a>
</li>
<li class="divider"></li>
{% endif %}
