{% load i18n %}

{% if settings.USE_BITTORRENT %}
	<a class="list-group-item" href="/feeds/latest/torrent/"><i class="glyphicon glyphicon-file"></i> Torrents-Feed</a>
{% endif %}
{% if settings.ENABLE_VIDEO_FEEDS %}
	<a class="list-group-item" href="/feeds/latest/mp4/"><i class="glyphicon glyphicon-film"></i> {% trans "MP4" %}</a>
	<a class="list-group-item" href="/feeds/latest/webm/"><i class="glyphicon glyphicon-film"></i> {% trans "WEBM" %}</a>
{% endif %}
{% if settings.ENABLE_AUDIO_FEEDS %}
	<a class="list-group-item" href="/feeds/latest/mp3/"><i class="glyphicon glyphicon-headphones"></i> {% trans "MP3" %}</a>
	<a class="list-group-item" href="/feeds/latest/ogg/"><i class="glyphicon glyphicon-headphones"></i> {% trans "OGG" %}</a>
{% endif %}
