{% extends "base.html" %}
{% load i18n %}
{% load custom_filters %}
{% block active-home %}class="active"{% endblock %}
{% block title %} - Channel: {{ channel.name }}{% endblock %}
{% block extra_meta %}
		<meta property="og:title" content="{{ channel.title }}"></meta>
		<meta property="og:type" content="article"></meta>
		<meta property="og:image" content="{{ settings.LOGO_URL }}"></meta>
		<meta property="og:url" content="{{ settings.DOMAIN }}/channel/{{ channel.slug }}/"></meta>
		{% if channel.description %}
		<meta property="og:description" content="{{ channel.description|truncatechars:150|remove_newlines }}"></meta>
		{% else %}
		<meta property="og:description" content="{{ settings.SITE_NAME }}"></meta>
		{% endif %}
		<meta property="og:locale" content="{{ settings.OG_LANGUAGE_CODE }}"></meta>
		<meta property="og:site_name" content="{{ settings.SITE_NAME }}"></meta>
{% endblock %}
{% block rss %}
		{% if settings.USE_BITTORRENT %}
		<link rel="alternate" type="application/rss+xml" title="{% trans "Channel Original Feed (Torrents)" %}" href="/feeds/{{ channel.slug }}/torrent/" />
		{% endif %}
		{% if settings.ENABLE_VIDEO_FEEDS %}
		<link rel="alternate" type="application/rss+xml" title="{% trans "Channel Video Feed (MP4)" %}" href="/feeds/{{ channel.slug }}/mp4/" />
		<link rel="alternate" type="application/rss+xml" title="{% trans "Channel Video Feed (WEBM)" %}" href="/feeds/{{ channel.slug }}/webm/" />
		{% endif %}
		{% if settings.ENABLE_AUDIO_FEEDS %}
		<link rel="alternate" type="application/rss+xml" title="{% trans "Channel Audio Feed (MP3)" %}" href="/feeds/{{ channel.slug }}/mp3/" />
		<link rel="alternate" type="application/rss+xml" title="{% trans "Channel Audio Feed (OGG)" %}" href="/feeds/{{ channel.slug }}/ogg/" />
		{% endif %}
{% endblock %}
{% block body %}
<div class="page-header">
	{% if perms.portal.change_channel and user.is_staff %}
		<a href="/admin/portal/channel/{{ channel.id }}/" class="pull-right" style="margin-top: 15px;"><button class="btn btn-warning" type="button"><i class="icon-pencil"></i> {% trans "Edit" %}</button></a>
	{% endif %}
	<h1>Channel: {{ channel.name }}</h1>
	{% if channel.description %}
	<p>{{ channel.description }}</p>
	{% endif %}
</div>
<div class="row">
	<div class="span8">
		<ul class="nav nav-tabs">
			<li>
				<a href="/">{% trans "Latest Media" %}</a>
			</li>
			{% for aChannel in channel_list %}
			{% if aChannel.featured %}
				{% if channel.slug == aChannel.slug %}
					<li class="active"><a href="/videos/channel/{{ aChannel.slug }}/">{{ aChannel.name }}</a></li>
				{% else %}
					<li><a href="/videos/channel/{{ aChannel.slug }}/">{{ aChannel.name }}</a></li>
				{% endif %}
			{% endif %}
			{% endfor %}
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					{% trans "All Channels" %}
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					{% for aChannel in channel_list %}
						<li><a href="/videos/channel/{{ aChannel.slug }}/">{{ aChannel.name }}</a></li>
					{% endfor %}
				</ul>
			</li>
		</ul>
		{% include "videos/videolist.html" with video_list=videos_list %}
		<ul class="pager">
		{% if videos_list.has_previous %}
			<li class="previous">
				<a href="?page={{ videos_list.previous_page_number }}">&larr; {% trans "Later" %}</a>
			</li>
		{% endif %}
		{% if videos_list.has_next %}
			<li class="next">
				<a href="?page={{ videos_list.next_page_number }}">{% trans "Earlier" %} &rarr;</a>
			</li>
		{% endif %}
		</ul>
	</div>
	<div class="span4">
		<div class=well>
			<ul class="nav nav-list">
				{% if settings.USE_BITTORRENT %}
				<li>
					<i class="icon-file"></i> <u>{% trans "Original Material" %}</u>
				</li>
				<li>
					<a href="/feeds/{{ channel.slug }}/torrent/">Torrents-Feed</a>
				</li>
				<li class="divider"></li>
				{% endif %}
				{% if settings.ENABLE_VIDEO_FEEDS %}
				<li>
					<i class="icon-film"></i> <u>{% trans "Video-Podcast" %}</u>
				</li>
				<li>
					<a href="/feeds/{{ channel.slug }}/mp4/">{% trans "MP4-Format" %}</a>
				</li>
				<li>
					<a href="/feeds/{{ channel.slug }}/webm/">{% trans "WEBM-Format" %}</a>
				</li>
				{% endif %}
				{% if settings.ENABLE_AUDIO_FEEDS %}
				<li class="divider"></li>
				<li>
					<i class="icon-headphones"></i> <u>{% trans "Audio-Podcast" %}</u>
				</li>
				<li>
					<a href="/feeds/{{ channel.slug }}/mp3/">{% trans "MP3-Format" %}</a>
				</li>
				<li>
					<a href="/feeds/{{ channel.slug }}/ogg/">{% trans "OGG-Format" %}</a>
				</li>
				{% endif %}
				<li class="divider"></li>
				<li>
					<a href="mailto:{{ settings.CONTACT_EMAIL }}"><i class="icon-envelope"></i> {% trans "Contact" %}</a>
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
