{% extends "base.html" %}
{% load i18n %}
{% block active-home %}class="active"{% endblock %}
{% load custom_filters %}
{% block head %}
{% block extra_head %}
	<meta property="og:title" content="{{ collection.title }}"></meta>
	<meta property="og:type" content="article"></meta>
	<meta property="og:image" content="{{ settings.LOGO_URL }}"></meta>
	<meta property="og:url" content="{{ settings.DOMAIN }}/collection/{{ collection.slug }}/"></meta>
	{% if collection.description %}
	<meta property="og:description" content="{{ collection.description|truncatechars:150 }}"></meta>
	{% else %}
	<meta property="og:description" content="{{ settings.SITE_NAME }}"></meta>
	{% endif %}
	<meta property="og:locale" content="{{ settings.OG_LANGUAGE_CODE }}"></meta>
	<meta property="og:site_name" content="{{ settings.SITE_NAME }}"></meta>
{% endblock %}
{% endblock %}
{% block body %}
<div class="page-header">
	{% if perms.portal.change_collection and user.is_staff %}
		<a href="/admin/portal/collection/{{ collection.id }}/" class="pull-right" style="margin-top: 15px;"><button class="btn btn-warning" type="button"><i class="icon-pencil"></i> {% trans "Edit" %}</button></a>
	{% endif %}
	<h1>Playlist: {{ collection.title }}</h1>
</div>
<div class="row">
	<div class="span8">
		{% include "videos/videolist.html" with video_list=videos_list %}
	</div>
	<div class="span4">
		<div class=well>
			<ul class="nav nav-list">
				{% if settings.USE_BITTORRENT %}
				<li class="nav-header">
					Original Material
				</li>
				<li>
					<a href="/feeds/collection/{{ collection.slug }}/torrent/"">Torrents-Feed</a>
				</li>
				{% endif %}
				{% if settings.ENABLE_VIDEO_FEEDS %}
				<li class="nav-header">
					<i class="icon-film"></i> {% trans "Video-Podcast" %}
				</li>
				<li>
					<a href="/feeds/collection/{{ collection.slug }}/mp4/">MP4-Format</a>
				</li>
				<li>
					<a href="/feeds/collection/{{ collection.slug }}/webm/">WEBM-Format</a>
				</li>
				{% endif %}
				{% if settings.ENABLE_AUDIO_FEEDS %}
				<li class="nav-header">
					<i class="icon-headphones"></i> {% trans "Audio-Podcast" %}
				</li>
				<li>
					<a href="/feeds/collection/{{ collection.slug }}/mp3/">MP3-Format</a>
				</li>
				<li>
					<a href="/feeds/collection/{{ collection.slug }}/ogg/">OGG-Format</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}
