{% extends "base.html" %}
{% load i18n %}
{% block active1 %}
class="active"
{% endblock %}
{% load custom_filters %}
{% block body %}
<div class="page-header">
	<h1>Tag: {{ tag }}</h1>
</div>
<div class="row">
	<div class="span8">
		{% include "videos/videolist.html" with video_list=videos_list %}
	</div>
	<div class="span4">
		<div class=well>
			<ul class="nav nav-list">
				{% if settings.USE_BITTORRENT %}
				<li>
					<i class="icon-file"></i> <u>{% trans "Original Material" %}</u>
				</li>
				<li>
					<a href="/feeds/latest/torrent/">Torrents-Feed</a>
				</li>
				<li class="divider"></li>
				{% endif %}
				{% if settings.ENABLE_VIDEO_FEEDS %}
				<li>
					<i class="icon-film"></i> <u>{% trans "Video-Podcast" %}</u>
				</li>
				<li>
					<a href="/feeds/latest/mp4/">{% trans "MP4-Format" %}</a>
				</li>
				<li>
					<a href="/feeds/latest/webm/">{% trans "WEBM-Format" %}</a>
				</li>
				{% endif %}
				{% if settings.ENABLE_AUDIO_FEEDS %}
				<li class="divider"></li>
				<li>
					<i class="icon-headphones"></i> <u>{% trans "Audio-Podcast" %}</u>
				</li>
				<li>
					<a href="/feeds/latest/mp3/">{% trans "MP3-Format" %}</a>
				</li>
				<li>
					<a href="/feeds/latest/ogg/">{% trans "OGG-Format" %}</a>
				</li>
				{% endif %}
				<li class="divider"></li>
				<li>
					<a href="mailto:{{ settings.CONTACT_EMAIL }}"><i class="icon-envelope"></i> {% trans "Contact" %}</a>
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
