{% extends "base.html" %}
{% load i18n %}
{% block title %} - {% trans "Submittal" %} "{{ submittal.title }}"{% endblock %}
{% block body %}
<div class="page-header">
	{% if perms.portal.change_video and user.is_staff %}
			<a href="/admin/portal/submittal/{{ submittal.id }}/" class="pull-right" style="margin-top: 15px;"><button class="btn btn-warning" type="button"><i class="icon-pencil"></i> {% trans "Edit" %}</button></a>
	{% endif %}
	<h1>{% trans "Submittal" %} "{{ submittal.title }}"</h1>
</div>
<div class="row">
	<div class="span6">
		<form id="submittalForm" enctype="multipart/form-data" class="form-horizontal" action="/thumbnail/" method="post">
			{% if error %}
				<div class="alert alert-error">{{ error }}</div>
			{% endif %}
			{% if message %}
				<div class="alert alert-success">{{ message }}</div>
			{% endif %}
			{% csrf_token %}
			<div style="display: none" id="formError" class="alert alert-error">
				<strong>{% trans "Error!" %}</strong>
			</div><!-- alert-->
			{% for field in submittal_form %}
			<div class="control-group">
				{% if field.errors %}
				<div class="alert alert-error">
					<strong>{% trans "Error!" %}</strong>{{ field.errors }}</p>
				</div>
				{% endif %}
				<div class="control-label">
					{{ field.label_tag }}
				</div>
				<div class="controls">
					{{ field }} <span class="help-block">{{ field.help_text }}</span>
				</div>
			</div>
			{% endfor %}
			<div class="form-actions">
				<input type="submit" class="btn btn-primary" value="{% trans "Add media" %}" />
			</div><!-- form-actions -->
		</form>
	</div><!-- span6 -->
</div><!-- row -->
{% endblock %}
{% block javascript %}
	<script type="text/javascript" src="{{ STATIC_URL }}jquery.form.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}jquery.validate.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}date.format.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}submit.js"></script>
{% endblock %}
