{% load custom_filters %}
{% load i18n %}
{% load markup %}
{% for video in video_list %}
	<div class="row">
		<div class="span8 well video-container">
		{% if video.getClassName == 'Video' %}
			{% if video.kind != 1 %}
				{% if video.videoThumbURL %}
					<div class="video-image-container"><a href="/videos/{{ video.slug }}/"><img src="{{ video.videoThumbURL }}" alt="videoThumb" /></a></div>
				{% else %}
					<div class="video-image-container"><a href="/videos/{{ video.slug }}/"><img src="{{ STATIC_URL }}default-video.png" alt="videoThumb" /></<a></div>
				{% endif %}
			{% else %}
				{% if video.audioThumbURL %}
					<div class="video-image-container"><a href="/videos/{{ video.slug }}/"><img src="{{ video.audioThumbURL }}" alt="audioThumb" /></a></div>
				{% else %}
					<div class="video-image-container"><a href="/videos/{{ video.slug }}/"><img src="{{ STATIC_URL }}default-audio.png" alt="audioThumb" /></a></div>
				{% endif %}
			{% endif %}
			<a href="/videos/{{ video.slug }}/"><h4>{{ video.title }}</h4></a>{% if user.is_authenticated %}<a href="/admin/portal/video/{{ video.pk }}"><button class="btn btn-warning btn-mini pull-right"><i class="icon-pencil"></i></button></a>{% endif %}
			<span><strong>{% trans "Description" %}: </strong>{{ video.markdown_free|truncatechars:150 }}</span><br/>
			<span><strong></strong><i class="icon-calendar"></i> {{ video.date }}{% if video.duration %} / <strong></strong><i class="icon-time"></i> {{ video.duration|secondstohms }}{% endif %}</span>
		{% else %}
			<div class="video-image-container"><a href="/collection/{{ video.slug }}/"><img src="{{ STATIC_URL }}default-playlist.png"/></a></div>
			<a href="/collection/{{ video.slug }}/"><h4>{% trans "Playlist" %}: {{ video.title }}</h4></a>
			<span><strong>{% trans "Description" %}: </strong>{{ video.description|truncatechars:100 }}</span><br/>
			<span><strong>{% trans "Date" %}: </strong>{{ video.date }}</span>
		{% endif %}
		</div>
	</div>
{% empty %}
	<p>{% trans "No videos are available." %}</p>
{% endfor %}
