<!DOCTYPE html>
{% load i18n %}
<html lang="en" prefix="og: http://ogp.me/ns#">
	<head>
		<meta charset="utf-8">
		<title>{{ settings.SITE_NAME }}{% block title %}{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="{{ settings.AUTHOR_NAME }}">
		{% block extra_meta %}{% endblock %}
		{% block rss %}
		{% endblock %}
		<link rel="alternate" type="application/rss+xml" title="{% trans "Comments-Feed" %}" href="/feeds/comments/" />
		{% if settings.ENABLE_LIVESTREAMS %}
		<link rel="alternate" type="application/rss+xml" title="{% trans "Upcoming Events" %}" href="/feeds/stream/upcoming/" />
		{% endif %}

		<link rel="shortcut icon" href="/static/favicon.png">

		<!-- Le styles -->
		<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}bootstrap/css/custom_style.css" rel="stylesheet">

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<script src="{{ STATIC_URL }}jquery.min.js"></script>
		{% block head %}
		{% endblock %}
	</head>
	<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">{{ settings.SITE_NAME }}</a>
			</div>
			<div class="collapse navbar-collapse" id="main-nav-collapse">
				<ul class="nav navbar-nav">
					<li {% block active-home %}{% endblock %}><a href="/"><i class="glyphicon glyphicon-home"></i> {% trans "Portal" %}</a></li>
					{% if settings.ENABLE_LIVESTREAMS %}
					<li {% block active-stream %}{% endblock %}><a href="/stream/">{% trans "Live" %}</a></li>
					{% endif %}
					{% for page in page_list %}
					<li{% if page.slug == current_page.slug %} class="active"{% endif %}>
						{% if page.display == "body" %}
						<a href="/p/{{ page.slug }}/"><i class="glyphicon glyphicon-{{ page.icon }}"></i> {{ page.title }}</a>
						{% else %}
						<a href="{{ page.link }}"><i class="glyphicon glyphicon-{{ page.icon }}"></i> {{ page.title }}</a>
						{% endif %}
					</li>
					{% endfor %}
				</ul>
				<form class="navbar-form navbar-left" role="search" method="GET" action="/search/">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="{% trans "Search" %}" name="q">
					</div>
				</form>
				<ul class="nav navbar-nav navbar-right">
					{% include "nav.html" %}
				</ul><!-- nav -->
			</div><!-- .nav-collapse -->
		</div>
	</nav>

		<div class="container" id="page-container">
			{% block body %}{% endblock %}
		</div> <!-- /container -->

		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
		{% block javascript %}{% endblock %}
	</body>
</html>
