<!DOCTYPE html>
{% load i18n %}
<html lang="en" prefix="og: http://ogp.me/ns#">
	<head>
		<meta charset="utf-8">
		<title>{{ settings.SITE_NAME }}{% block title %}{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="{{ settings.AUTHOR_NAME }}">
		{% block extra_meta %}{% endblock %}
		{% block rss %}
		{% endblock %}
		{% if settings.USE_BITTORRENT %}
		<link rel="alternate" type="application/rss+xml" title="{% trans "Latest Originals" %}" href="/feeds/latest/torrent/" />
		{% endif %}
		{% if settings.ENABLE_VIDEO_FEEDS %}
		<link rel="alternate" type="application/rss+xml" title="{% trans "Latest Videos (MP4)" %}" href="/feeds/latest/mp4/" />
		<link rel="alternate" type="application/rss+xml" title="{% trans "Latest Videos (WEBM)" %}" href="/feeds/latest/webm/" />
		{% endif %}
		{% if settings.ENABLE_AUDIO_FEEDS %}
		<link rel="alternate" type="application/rss+xml" title="{% trans "Latest Audio Files (MP3)" %}" href="/feeds/latest/mp3/" />
		<link rel="alternate" type="application/rss+xml" title="{% trans "Latest Audio Files (OGG)" %}" href="/feeds/latest/ogg/" />
		{% endif %}
		{% if settings.ENABLE_LIVESTREAMS %}
		<link rel="alternate" type="application/rss+xml" title="{% trans "Upcoming Events" %}" href="/feeds/stream/upcoming/" />
		{% endif %}
		<!-- Le styles -->
		<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}bootstrap/css/custom_style.css" rel="stylesheet">

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<script src="{{ STATIC_URL }}jquery.min.js"></script>
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="/">{{ settings.SITE_NAME }}</a>
					<div class="nav-collapse">
						<ul class="nav">
							<li {% block active-home %}{% endblock %}><a href="/"><i class="icon-home"></i> {% trans "Portal" %}</a></li>
							{% if settings.ENABLE_LIVESTREAMS %}
							<li {% block active-stream %}{% endblock %}><a href="/stream/">{% trans "Live" %}</a></li>
							{% endif %}
							{% for page in page_list %}
							<li{% if page.slug == current_page.slug %} class="active"{% endif %}>
								{% if page.display == "body" %}
								<a href="/p/{{ page.slug }}/"><i class="icon-{{ page.icon }}"></i> {{ page.title }}</a>
								{% else %}
								<a href="{{ page.link }}"><i class="icon-{{ page.icon }}"></i> {{ page.title }}</a>
								{% endif %}
							</li>
							{% endfor %}
						</ul>
					</div>
					<div class="nav-collapse collapse pull-right">
						<ul class="nav">
							<li>
								<form class="navbar-search" action="/search/" method="GET">
									<input type="text" class="search-query" name="q" placeholder="{% trans "Search..." %}">
								</form>
							</li>
							{% if user.is_authenticated %}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-chevron-down"></i> {% trans "Menu" %}</a>
							<ul class="dropdown-menu">
								<li {% block active-upload %}{% endblock %}><a href="/submit/" title="{% trans "Upload" %}"><i class="icon-upload"></i> {% trans "Upload" %}</a></li>
								<li {% block active-thumb %}{% endblock %}><a href="/thumbnail/" title="{% trans "Thumbnails" %}"><i class="icon-picture"></i> {% trans "Thumbnails" %}</a></li>
								<li {% block active-status %}{% endblock %}><a href="/status/" title="{% trans "Status" %}"><i class="icon-ok"></i> {% trans "Status" %}</a></li>
							</ul>
							</li>
							<li class="dropdown"><a href="#"  class="dropdown-toggle" data-toggle="dropdown"><i class="icon-wrench"></i> {% trans "Admin" %}</a>
							<ul class="dropdown-menu">
								<li><a href="/admin/" title="{% trans "Overview" %}"><i class="icon-wrench"></i> {% trans "Overview" %}</a></li>
								<li><a href="/admin/portal/video" title="{% trans "Videos" %}"><i class="icon-play"></i> {% trans "Videos" %}</a></li>
								<li><a href="/admin/portal/channel/" title="{% trans "Channels" %}"><i class="icon-th"></i> {% trans "Channels" %}</a></li>
								<li><a href="/admin/portal/collection" title="{% trans "Collections" %}"><i class="icon-list"></i> {% trans "Collections" %}</a></li>
								<li><a href="/admin/portal/comment" title="{% trans "Comments" %}"><i class="icon-comment"></i> {% trans "Comments" %}</a></li>
							</ul>
							</li>
<li><a href="/logout/" title="{% trans "Logout" %}"><i class="icon-off"></i></a></li>
							{% endif %}
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>

		<div class="container" id="page-container">
			{% block body %}{% endblock %}
		</div> <!-- /container -->

		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
		{% block javascript %}{% endblock %}
	</body>
</html>
