{% extends "base.html" %}
{% load i18n %}
{% load custom_filters %}
{% load simple_open_graph %}
{% block title %} - {{ mediaitem.title }}{% endblock %}
{% block extra_meta %}
		<meta property="og:title" content="{{ mediaitem.title }}"></meta>
		<meta property="og:type" content="article"></meta>
		{% if mediaitem.videoThumbURL %}
		<meta property="og:image" content="{{ mediaitem.videoThumbURL }}"></meta>
		{% elif mediaitem.audioThumbURL %}
		<meta property="og:image" content="{{ mediaitem.audioThumbURL }}"></meta>
		{% elif mediaitem.channel.channelThumbURL %}
		<meta property="og:image" content="{{ mediaitem.channel.channelThumbURL }}"></meta>
		{% else %}
		<meta property="og:image" content="{{ settings.LOGO_URL }}"></meta>
		{% endif %}
		<meta property="og:url" content="{{ settings.DOMAIN }}/item/{{ mediaitem.slug }}/"></meta>
		{% if mediaitem.description %}
		<meta property="og:description" content="{{ mediaitem.markdown_free|truncatechars:150|remove_newlines }}"></meta>
		{% else %}
		<meta property="og:description" content="{{ settings.SITE_NAME }}"></meta>
		{% endif %}
		<meta property="og:locale" content="{{ settings.OG_LANGUAGE_CODE }}"></meta>
		<meta property="og:site_name" content="{{ settings.SITE_NAME }}"></meta>
{% endblock %}
{% block head %}
		<script type="text/javascript" src="{{ STATIC_URL }}projekktor/projekktor.min.js"></script>
		<link rel="stylesheet" href="{{ STATIC_URL }}projekktor/theme/maccaco/projekktor.style.css" type="text/css" media="screen" />
{% endblock %}
{% block active-home %}class="active"{% endblock %}
{% block body %}
<div class="page-header">
	{% if perms.portal.change_mediaitem and user.is_staff %}
		<a href="/admin/portal/mediaitem/{{ mediaitem.id }}/" class="pull-right"><button class="btn btn-warning" type="button"><i class="glyphicon glyphicon-pencil"></i> {% trans "Edit" %}{% if not mediaitem.published %} ({% trans "Unpublished" %}){% endif %}</button></a>
	{% endif %}
	<h1>{{ mediaitem.title }}</h1>
</div>
<div class="row">
	<div class="col-md-8 col-sm-12 col-xs-12">
		{% if mediaitem.get_video_files and mediaitem.get_audio_files %}
		<ul class="nav nav-tabs">
			<li class="active" id="video_tab"><a href="#video_player">{% trans "Video" %}</a></li>
			<li id="audio_tab"><a href="#audio_player">{% trans "Audio" %}</a></li>
		</ul>
		{% endif %}
		<div id="player_container">
			{% if mediaitem.get_video_files %}
			<div id="video_player" class="player-container">
				<video id="player_video" class="projekktor center" title="{{ mediaitem.title }}" width="640" height="360" poster="{% if mediaitem.videoThumbURL %}{{ mediaitem.videoThumbURL }} {% elif mediaitem.channel.channelThumbURL %} {{ mediaitem.channel.channelThumbURL }} {% else %} {{ STATIC_URL }}audio_cover.png {% endif %}" controls>
					{% for video in mediaitem.get_video_files %}
					<source src="{{ video.url }}" type="{{ video.mime_type }}" />
					{% endfor %}
				</video>
			</div>
			{% endif %}
			{% if mediaitem.get_audio_files %}
			<div id="audio_player" class="player-container{% if mediaitem.get_video_files %} inactive-player-tab{% endif %}">
				<audio id="player_audio" class="projekktor center" title="{{ mediaitem.title}}" width="640" height="360" poster="{% if mediaitem.audioThumbURL %}{{ mediaitem.audioThumbURL }}{% elif mediaitem.channel.channelThumbURL %}{{ mediaitem.channel.channelThumbURL }}{% else %}{{ STATIC_URL }}audio_cover.png{% endif %}" controls>
				{% for audio in mediaitem.get_audio_files %}
				<source src="{{ audio.url }}" type="{{ audio.mime_type }}" />
				{% endfor %}
				</audio>
			</div>
			{% endif %}
		</div>
		{% if mediaitem.description %}
		<div class="panel panel-default">
			<div class="panel-heading">{% trans "Description" %}:</div>
			<div class="panel-body">
				{{ mediaitem.description|render_markdown }}
			</div>
		</div>
		{% endif %}
		<h2>{% trans "Comments" %}</h2>
		{% if comment_list %}
		{% for comment in comment_list %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{ comment.name }} {% if comment.timecode %}{% trans "at time" %} <a class="timecode"><strong>{{ comment.timecode }}</strong></a>{% endif %}</h3>
			</div>
			<div class="panel-body">
				<div class="comment-body">{{ comment.comment }}	</div>
			</div>
			{% if perms.portal.change_comment and user.is_staff %}
			<div class="panel-footer">
				<a href="/admin/portal/comment/{{ comment.id }}/"><span class="label label-warning"><i class="glyphicon glyphicon-pencil"></i></span></a>
				{% if not comment.moderated %}
					<span class="label label-warning unpublished"><i class="glyphicon glyphicon-eye-close"></i> {% trans "Unpublished" %}</span>
				{% endif %}
			</div>
			{% endif %}
		</div>
		{% endfor %}
		{% else %}
			<p>{% trans "No comments" %}</p>
		{% endif %}
	</div>
	<div class="col-md-4 col-sm-6 col-xs-6">
		<ul class="list-group">
			<li class="list-group-item">
				<i class="glyphicon glyphicon-calendar"></i> {% trans "Date" %}:  {{ mediaitem.date }}
			</li>
			{% if mediaitem.channel %}
			<li class="list-group-item">
				<i class="glyphicon glyphicon-th-large"></i> {% trans "Channel" %}: <a href="/channel/{{ mediaitem.channel.slug }}/">{{ mediaitem.channel.name }}</a>
			</li>
			{% endif %}
			{% if mediaitem.user %}
			<li class="list-group-item">
				<i class="glyphicon glyphicon-user"></i> {% trans "Uploaded by" %}: 
				{% if mediaitem.user.first_name %}
				{{ mediaitem.user.first_name }} {{ mediaitem.user.last_name }}
				{% else %}
				{{ mediaitem.user }}
				{% endif %}
			</li>
			{% endif %}
			{% if mediaitem.linkURL %}
			<li class="list-group-item">
				<i class="glyphicon glyphicon-link"></i> Link: <a href="{{ mediaitem.linkURL }}" target="_Blank">{{ mediaitem.linkURL|truncatechars:40 }}</a>
			</li>
			{% endif %}
			{% if user.is_authenticated %}
			<li class="list-group-item">
				<i class="glyphicon glyphicon-align-left"></i> {% trans "Embedding" %}: 
				<input type="text" class="form-control" readonly="readonly" value='<iframe width="640" height="360" src="{{ settings.DOMAIN }}/item/iframe/{{ mediaitem.slug }}/" frameborder="0"></iframe>'>
			</li>
			<li class="list-group-item">
				<i class="glyphicon glyphicon-align-left"></i> {% trans "Wordpress Embed Code" %}: 
				<textarea readonly="readonly" class="form-control">{{ mediaitem.get_wp_code }}</textarea>
			</li>
			{% endif %}
			{% if mediaitem.duration %}
			<li class="list-group-item">
				<i class="glyphicon glyphicon-time"></i> {% trans "Duration" %}: {{ mediaitem.duration|seconds_to_hms }}
			</li>
			{% endif %}
			<li class="list-group-item">
				<i class="glyphicon glyphicon-copyright-mark"></i> {% trans "License" %}:
				{% if mediaitem.license == "None" %}
					{% trans "None" %}
				{% else %}
					<a href="{{ mediaitem.get_license_link }}">{{ mediaitem.get_license_display }}</a>
				{% endif %}
			</li>
			<li class="list-group-item">
			{% if mediaitem.torrentURL %}
				<a href="{{ mediaitem.torrentURL }}">{% trans "Download Torrent" %}</a>
			{% endif %}
			{% if mediaitem.get_video_files %}
				{% for video in mediaitem.get_video_files %}
					<dd>
						<a href="{{ video.url }}" download="{{mediaitem.title}}{{ video.extension }}">
							<i class="glyphicon glyphicon-film"></i>
							{% trans "Download" %} {{ video.get_file_format_display }} ({{ video.size|in_mb }} MB)
						</a>
					</dd>
				{% endfor %}
			{% endif %}
			{% if mediaitem.get_audio_files %}
				{% for audio in mediaitem.get_audio_files %}
					<dd>
						<a href="{{ audio.url }}" download="{{mediaitem.title}}{{ audio.extension }}">
							<i class="glyphicon glyphicon-headphones"></i>
							{% trans "Download" %} {{ audio.get_file_format_display }} ({{ audio.size|in_mb }} MB)
						</a>
					</dd>
				{% endfor %}
			{% endif %}
			</li>
			<li class="list-group-item">
				{% if mediaitem.tags.all %}
					<dd><i class="glyphicon glyphicon-tags"></i> {% trans "Tags" %}:</dd>
					{% for tag in mediaitem.tags.all %}
						<a href="/tags/{{ tag.slug }}/" class="tag-weight-{{tag.weight|floatformat:0}}">{{ tag.name }}</a>
					{% endfor %}
				{% endif %}
			</li>
		</ul>
		<ul class="list-group">
			<li class="list-group-item list-group-item-info">{% trans "Leave a Comment" %}</li>
			<li class="list-group-item">
				{% if message %}
				<div class="alert">
					{{ message }}
				</div>
				{% endif %}
				<form enctype="multipart/form-data" class="form" action="/item/{{ mediaitem.slug }}/" method="post">{% csrf_token %}
					{% for field in comment_form %}
					<div class="form-group">
						{% if field.errors %}
						<div class="alert alert-danger">
							<strong>{% trans "Error!" %} </strong>{{ field.errors }}
						</div>
						{% endif %}
						{% if field.name == 'timecode' %}
							<div class="input-group">
								<span class="input-group-addon">{{ field.label }}</span> {{ field }}
							</div>
						{% else %}
							{{ field }}
						{% endif %}
					</div>
					{% endfor %}
					<div class="form-group">
						<a name="captcha" href="#captcha"><p name="refresh_captcha" class='js-captcha-refresh btn btn-info btn-xs'>{% trans "Refresh Captcha" %}</p></a>
					</div>
					<div class="form-actions">
						<input type="submit" name="submit_comment" class="btn btn-primary" value={% trans "Send" %} />
					</div>
				</form>
			</li>
		</ul>
	</div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
function updateCaptcha(){
	$.getJSON('/captcha/refresh/', {}, function(json) {
		$('img.captcha').attr('src', json.image_url);
		$('#id_captcha_0').val(json.key);
		// This your should update captcha image src and captcha hidden input
	});
}

$('.js-captcha-refresh').click(updateCaptcha);

$(document).ready(function() {
	var timecode;
	var timeListener = function(value) {	
		$('#id_timecode').val( value.toFixed(2) )
		timecode = value;
	}
	{% if mediaitem.get_video_files %}
	var video_player = projekktor('#player_video', {
		/* path to the MP4 Flash-player fallback component */
		playerFlashMP4:	'{{ STATIC_URL }}projekktor/jarisplayer.swf',
		streamType: 'http',
	});
	video_player.addListener('time', timeListener);
	$('#video_player').data('player', video_player);
	{% endif %}
	{% if mediaitem.get_audio_files %}
	var audio_player = projekktor('#player_audio', {
		/* path to the MP3 Flash-player fallback component */
		playerFlashMP3:	'{{ STATIC_URL }}projekktor/jarisplayer.swf',
		streamType: 'http',
	});
	audio_player.addListener('time', timeListener);
	$('#audio_player').data('player', audio_player);
	{% endif %}

	$('.timecode').click(function(){
		if (typeof(video_player) !== 'undefined' && !$('#video_player').hasClass('inactive-player-tab')) { video_player.setPlay();video_player.setPlayhead(parseFloat(this.text)); }
		if (typeof(audio_player) !== 'undefined' && !$('#audio_player').hasClass('inactive-player-tab')) { audio_player.setPlay();audio_player.setPlayhead(parseFloat(this.text)); }
		return false;
	});

	$('#video_tab a, #audio_tab a').click(function (e) {
		e.preventDefault();
		var clickedTab = $(this);
		if (!clickedTab.parent().hasClass('active')) {
			clickedTab.tab('show');
			var activeTab;
			var inactiveTab;
			$('.player-container').each(function() {
				if ('#' + $(this).attr('id') == clickedTab.attr('href')) {
					activeTab = $(this);
				} else {
					inactiveTab = $(this);
				}
			});
			inactiveTab.addClass('inactive-player-tab');
			activeTab.removeClass('inactive-player-tab');
			inactivePlayer = inactiveTab.data('player');
			activePlayer = activeTab.data('player');
			if (inactivePlayer.getState() == 'PLAYING') {
				inactivePlayer.setPause();
				activePlayer.setPlay();
				activePlayer.setPlayhead(timecode);
			}
		}
	});
});
</script>
{% endblock %}
