<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>LambdaCast</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="{{ settings.AUTHOR_NAME }}">
		<script src="{{ STATIC_URL }}jquery.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}projekktor/projekktor.min.js"></script>
		<script src="{{ STATIC_URL }}audiojs/audio.min.js"></script>
		<link rel="stylesheet" href="{{ STATIC_URL }}projekktor/theme/maccaco/projekktor.style.css" type="text/css" media="screen" />
	</head>
	<body>

		{% if mediaitem.kind == 0 or mediaitem.kind == 2 %}
		<video class="projekktor" poster="{{ mediaitem.videoThumbURL }}" title="{{ mediaitem.title }}" width="640" height="360" controls>
			{% if mediaitem.webmURL %}<source src="{{ mediaitem.webmURL }}" type="video/webm" />{% endif %}
			{% if mediaitem.mp4URL %}<source src="{{ mediaitem.mp4URL }}" type="video/mp4" />{% endif %}
		</video>
		{% endif %}
		{% if mediaitem.kind == 1 %}
		<audio class="projekktor" title="{{ mediaitem.title}}" width="640" height="360" poster="{% if mediaitem.audioThumbURL %}{{ mediaitem.audioThumbURL }} {% else %} {{ STATIC_URL }}audio_cover.png {% endif %}" controls>
			{% if mediaitem.mp3URL %}<source src="{{ mediaitem.mp3URL }}" type="audio/mp3" />{% endif %}
			{% if mediaitem.oggURL %}<source src="{{ mediaitem.oggURL }}" type="application/ogg" />{% endif %}
		</audio>
		{% endif %}
		<script type="text/javascript">
			$(document).ready(function() {
				var player = projekktor('.projekktor', {
					/* path to the MP4 Flash-player fallback component */
					playerFlashMP4: '{{ STATIC_URL }}projekktor/jarisplayer.swf',
					/* path to the MP3 Flash-player fallback component */
					playerFlashMP3: '{{ STATIC_URL }}projekktor/jarisplayer.swf',
					streamType: 'http',
					iframe: true
				});
			});
		</script>
	</body>
</html>
