<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>LambdaCast</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="{{ settings.AUTHOR_NAME }}">
		<script src="{{ STATIC_URL }}jquery.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}projekktor/projekktor.min.js"></script>
		<script src="{{ STATIC_URL }}audiojs/audio.min.js"></script>
		<link rel="stylesheet" href="{{ STATIC_URL }}projekktor/theme/maccaco/projekktor.style.css" type="text/css" media="screen" />
	</head>
	<body>
		{% if mediaitem.get_video_files %}
		<video class="projekktor" poster="{{ mediaitem.videoThumbURL }}" title="{{ mediaitem.title }}" width="640" height="360" controls>
			{% for video in mediaitem.get_video_files %}
				<source src="{{ video.url }}" type="{{ video.mime_type }}" />
			{% endfor %}
		</video>
		{% endif %}
		{% if not mediaitem.get_video_files and mediaitem.get_audio_files %}
		<audio class="projekktor" title="{{ mediaitem.title}}" width="640" height="360" poster="{% if mediaitem.audioThumbURL %}{{ mediaitem.audioThumbURL }} {% else %} {{ STATIC_URL }}audio_cover.png {% endif %}" controls>
			{% for audio in mediaitem.get_audio_files %}
				<source src="{{ audio.url }}" type="{{ audio.mime_type }}" />
			{% endfor %}
		</audio>
		{% endif %}
		<script type="text/javascript">
			$(document).ready(function() {
				var player = projekktor('.projekktor', {
					/* path to the MP4 Flash-player fallback component */
					playerFlashMP4: '{{ STATIC_URL }}projekktor/jarisplayer.swf',
					/* path to the MP3 Flash-player fallback component */
					playerFlashMP3: '{{ STATIC_URL }}projekktor/jarisplayer.swf',
					streamType: 'http',
					iframe: true
				});
			});
		</script>
	</body>
</html>
