{% load custom_filters %}
{% load i18n %}
{% load markup %}
{% for video in video_list %}
	<div class="row">
		<div class="span8 well video-container">
		{% if video.getClassName == 'Video' %}
			<div class="video-image-container"><a href="/videos/{{ video.slug }}/">
				{% if video.kind != 1 %}
					{% if video.videoThumbURL %}
						<img src="{{ video.videoThumbURL }}" alt="videoThumb" />
					{% else %}
						<img src="{{ STATIC_URL }}default-video.png" alt="videoThumb" />
					{% endif %}
				{% else %}
					{% if video.audioThumbURL %}
						<img src="{{ video.audioThumbURL }}" alt="audioThumb" />
					{% else %}
						<img src="{{ STATIC_URL }}default-audio.png" alt="audioThumb" />
					{% endif %}
				{% endif %}
			</a></div>
			{% if user.is_authenticated %}
				<a href="/admin/portal/video/{{ video.pk }}"><button class="btn btn-warning btn-mini pull-right btn-mini-edit"><i class="icon-pencil"></i></button></a>
			{% endif %}
			<a href="/videos/{{ video.slug }}/"><h4>{{ video.title }}</h4></a>
			<span><strong>{% trans "Description" %}: </strong>{{ video.markdown_free|truncatechars:150 }}</span><br/>
			<span><strong></strong><i class="icon-calendar"></i> {{ video.date }}{% if video.duration %} / <strong></strong><i class="icon-time"></i> {{ video.duration|secondstohms }}{% endif %} / <strong></strong><i class="icon-comment"></i> {{ video.comments_number }}</span>
		{% else %}
			<div class="video-image-container"><a href="/collection/{{ video.slug }}/"><img src="{{ STATIC_URL }}default-playlist.png"/></a></div>
			{% if user.is_authenticated %}
				<a href="/admin/portal/collection/{{ collection.pk }}"><button class="btn btn-warning btn-mini pull-right btn-mini-edit"><i class="icon-pencil"></i></button></a>
			{% endif %}
			<a href="/collection/{{ video.slug }}/"><h4>{% trans "Playlist" %}: {{ video.title }}</h4></a>
			<span><strong>{% trans "Description" %}: </strong>{{ video.description|truncatechars:100 }}</span><br/>
			<span><strong>{% trans "Date" %}: </strong>{{ video.date }}</span>
		{% endif %}
		</div>
	</div>
{% empty %}
	<p>{% trans "No videos are available." %}</p>
{% endfor %}
